---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";

const footerSupport = [
    {
        itemText:"Pricing",
        itemLink:"#"
    },
    {
        itemText:"Guides",
        itemLink:"#"
    },
    {
        itemText:"FAQ",
        itemLink:"#"
    },
]

const footerCompany = [
    {
        itemText:"About",
        itemLink:"#"
    },
    {
        itemText:"Blog",
        itemLink:"#"
    },
    {
        itemText:"Jobs",
        itemLink:"#"
    }
]
const footerLegal = [
    {
        itemText:"Claim",
        itemLink:"/#"
    },
    {
        itemText:"Privacy",
        itemLink:"#"
    },
    {
        itemText:"Terms",
        itemLink:"#"
    }
]
---
<div class="mt-16"></div>
<footer class="relative pt-16">
    <div class="absolute right-0 top-0 h-full w-full flex justify-end"></div>

    
    <Container className="pb-8 relative overflow-hidden">
        <div class="grid grid-cols-2 lg:grid-cols-2 lg:items-stretch gap-8 relative">
            <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
                <div class="h-full">
                    <a href="#" class="relative flex items-center gap-3">
                        <div class="inline-flex text-lg font-semibold text-heading-1">
                            <div class="flex flex-row items-center group">
                                <img class="h-12 w-12 group-hover:cursor-pointer" src="/images/logo.png" alt="">
                                <h1 class="text-md font-bold dark:text-white text-gray-700 group-hover:cursor-pointer">Recrutment</h1>
                            </div>
                        </div>
                    </a>
                    <Paragraph className={"mt-8"}>
                        Nous sommes une entreprise leader dans le domaine des services d'ingénierie, de construction, de maintenance, de fourniture de main-d'œuvre, de réparation et d'étalonnage, de formation et d'optimisation des coûts de l'énergie.
                    </Paragraph>
                </div>
            </div>

            <GroupFooterNav>
                <FooterNav title={"Company"} navItems={footerCompany}/>
                <FooterNav title={"Support"} navItems={footerSupport}/>
                <FooterNav title={"Ressources"} navItems={footerLegal}/>
            </GroupFooterNav>
        </div>
    </Container>
</footer>